
@import "../../../style/variable";
@import "../../../style/color";

.c_taskCreateFormContainer {

  .mid-label {
    white-space: nowrap;
    padding: 0 $gap_1;
    text-align: right;
  }

  .help-icon {
    cursor: pointer;

    &:hover {
      color: $text_light_gray;
    }
  }

  .remove-attachment {
    margin-left: $gap_0;
    cursor: pointer;

    &:hover {
      color: $text_light_gray;
    }
  }
}
