
@import "../../../../style/variable";
@import "../../../../style/color";

.p_ProfileProjects {
  background: white;
  text-align: left;

  .filter-group {
    margin-bottom: $gap_2;
  }

  .ant-list-item {
    border: 1px solid $border_gray;
    padding: 16px;
    border-radius: 8px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .ant-list-item-content {
    max-height: 188px;
  }

  .carousel-wrapper {
    width: 204px;
    height: 204px;
  }

  .ant-list-item-extra-wrap {
    flex-flow: row-reverse;
  }

  .ant-list-item-extra {
    margin-left: 0;
    margin-right: 58px;
  }
}
