
@import "../../../../style/variable";
@import "../../../../style/color";

.p_ProfileProjects,
.p_ProfileTasks {
  background: white;
  text-align: left;

  .filter-group {
    margin-bottom: $gap_2;

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }

  .search-group {
    margin-left: $gap_1;
  }

  .loadmore {
    margin: $gap_3 0;
  }

  .ql-editor {
    padding: 0;
    font-size: 14px;
  }

  .ant-select {
    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      margin-bottom: $gap_1;
    }
  }

  .ant-list-item {
    margin: $gap_0 0;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.45);
  }

  .ant-list-item {
    border: 1px solid $border_gray;
    padding: 16px;
    border-radius: 8px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .ant-list-item-content {
    max-height: 188px;
  }

  .carousel-wrapper {
    width: 188px;
    height: 188px;
    background: $primary_color;
  }

  .ant-list-item-extra-wrap {
    flex-flow: row-reverse;
  }

  .ant-list-item-extra {
    margin-left: 0;
    margin-right: 58px;
  }

  .task-title {
    line-height: 1.2;
  }
}
