
@import "../../../style/variable";
@import "../../../style/color";
@import "../../../style/typography";

$mobile-padding: $gap_0 0px;

.p_Cr100 {
  background: #ffffff;
  text-align: left;

  @media only screen and (max-width: $mobile-width) {
    padding: 0 24px;
  }

  .c_Footer {
    margin-top: 0;
  }

  h3 {
    @extend .komu-a;
  }

  .ebp-wrap {
    padding: 0;
  }

  .c_projectList {
    display: flex;
    flex-wrap: wrap;
  }

  $projectBoxSize: 156px;
  .c_project {
    cursor: pointer;
    height: $projectBoxSize;
    width: $projectBoxSize;
    text-align: center;
    padding: ($gap_2 / 2);
  }

  .c_list_wrapper {
    background: $bg_blue;
    position: relative;
    padding-bottom: 140px;
  }

  .cr100-header {
    margin-bottom: 180px;
  }

  .project-title {
    margin-bottom: $gap_2;
  }

  .disclaimer-box {
    background: $bg_dark;
    padding: $gap_2 0;
    position: relative;
  }

  .footer_enrich {
    position: absolute;
    top: -110px;
    right: 0;
  }

  .c_list {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .cr100_logo_text {
    position: absolute;
    top: 0;
    right: 0;
  }

  .welcomeBox {
    max-width: 800px;
    margin: $gap_5 auto;
    padding: $gap_4;
    font-size: 20px;
    text-align: center;
    background: $bg_blue;
    position: relative;

    .cr100_logo {
      position: absolute;
      top: -$gap_4;
      left: -$gap_4;
    }

    .oomph_box {
      position: absolute;
      bottom: -$gap_2;
      right: -$gap_3;
    }

    .title {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 38px;
      font-family: 'Synthese', sans-serif;
    }

    .content {
      font-family: 'Synthese', sans-serif;
      font-weight: 200;
      font-size: 24px;
      margin-bottom: $gap_1;
    }
  }
}

