@import '../../style/variable';
@import '../../style/color';

.c_Search {
  .admin-left-column {
    .filter-switch {
      padding-bottom: $gap_0;

      span {
        margin-right: $gap_0;
      }

      .label {
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }

  .admin-right-column {
    min-height: 392px;

    .ant-list-item {
      margin: $gap_0 0;
    }
  }

  .filters-tree {
    margin-bottom: $gap_1;
  }
}

.filters-menu {
  background-color: white;
  padding: $gap_2;
}

.align-middle{
  line-height: 30px;
  vertical-align: middle;
}

.team-status-active, .team-status-close{
  font-size: 10px;
  margin-left: $gap_0;
  padding: 5px;
  border-radius: 3px;
  vertical-align: middle;
}

.team-status-active{
  background-color: #67779d;
  color: white;
}

.team-status-close{
  background-color: #d8d8d8;
  color: #434e71;
}