
@import '../../style/variable';
@import '../../style/color';

$avatar-size: 160px;

.c_Member {

  .header {
    width: 100%;
    max-width: 780px;
    height: 50px;
    display: inline-flex;
    background-color: $bg_obsidian;
    .content {
      color: #fff;
      padding-top: 12px;
      font-size: 16px;
      margin-left: 40px;
      flex: 1;
    }
    .close-btn {
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      margin-top: 12px;
      margin-right: 24px;
    }
  }

  .profile-metrics {
    top: 12px;
    .item {
      padding: 16px;
      background-color: #f7f9fd;
      >.value {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
  // padding: 0 20%;
  text-align: left;
  .member-content {
    width: 100%;
    max-width: 780px;
    margin: auto;
    >.container {
      background-color: #f7f9fd;
    }
  }

  .member-content-mobile {
    width: auto;
  }

  .ant-btn-primary {
    margin-right: $gap_0;
  }

  .gridCol {
    padding: 0 $gap_2;
    margin: $gap_0 0;

    min-height: 40vh;

    &.left-vert-sep {
      border-left: 1px solid $border_gray;
    }
  }

  .form-wrapper {
    padding: $gap_2 0;
  }

  &.public {

    .section-title > h4 {
      color: $text_dark_gray;
    }

    .label-col {
      color: $text_light_gray;
    }

    .task-thumbnail {
      width: 100%;
      padding-left: $gap_0;
    }

    .ant-row {
      margin: $gap_0 0;

      p {
        padding-bottom: $gap_0;
      }
    }

    .ant-divider-inner-text {
      color: $text_light_gray;
    }

  }

  .profile-banner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 165px;

    .profile-edit-btn {
      position: absolute;
      color: #fff;
      font-size: 24px;
      top: 26px;
      right: 30px;
      cursor: pointer;
    }

    span {
      display: inline-block;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    &.profile-banner-mobile {
      width: auto;
      height: 151px;
      overflow: hidden;

      span {
        padding-bottom: 56.25%;
        display: inline-block;
        height: 0;
        width: 100%;
        vertical-align: top;
        background-position: top;
        background-size: auto;
      }
    }
  }

  .profile-info-container {
    margin-top: 0 !important;
    background: #f7f9fd;
    padding-bottom: 25px;

    &.profile-info-container-mobile {
      padding: 0 20px;
      padding-bottom: 25px;
    }
  }

  .profile-avatar-container {
    position: relative;
    z-index: 2;
    width: $avatar-size;
    height: 50px;
    margin-bottom: 20px;
    float: right;

    &.profile-avatar-container-mobile {
      float: none;
      width: 100%;

      .profile-avatar {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .profile-avatar {
      position: absolute;
      bottom: 0;
      overflow: hidden;
      width: $avatar-size;
      height: $avatar-size;

      img {
        width: 100%;
      }
    }
  }

  .profile-button {
    width: 200px;
    margin-left: 20px;

    &.profile-button-mobile {
      float: none;
    }
  }

  .profile-send-msg {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 15px;
    border: 0;
    border-radius: 0;
  }

  .profile-follow, .profile-edit, .profile-show {
    width: 100%;
    border: 1px solid #000;
    color: #000;
    text-transform: uppercase;
    &.separated {
      margin-bottom: 15px;
    }
  }

  .profile-left {
    width: 200px;
    padding-bottom: 15px;
  }

  .profile-right {
    width: calc(100% - 200px);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
  }

  .profile-general-info {
    margin-bottom: 15px !important;
    line-height: 32px;

    span {
      margin-left: 10px;
    }

    .location-icon {
      margin-right: 3px;
    }

    &.profile-general-info-mobile {
      margin-bottom: 10px !important;
    }
  }

  .profile-general-title {
    text-transform: uppercase;
    font-size: 36px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 6px;
    margin-top: 10px;

    &.profile-general-title-mobile {
      text-align: center;
    }
  }

  .profile-social {
    text-align: right;

    a {
      color: #000 !important;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    &.profile-social-mobile {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .profile-description {
    border-top: 1px solid #d7d7d9;
    padding: 25px 0 0 0;
    margin: 0 40px;
    clear: both;

    &.profile-description-mobile {
      margin: 0;
      margin-top: 25px;
    }
  }
}
