
@import '../../../style/variable';
@import '../../../style/color';


.c_Project {
  .team-selector {
    width: 332px;
    margin-right: $gap_0;
  }

  .actions {
    .ant-btn:not(:last-child) {
      margin-right: $gap_0;
    }
  }

  .team-application {
    margin-bottom: $gap_0;
  }

  .application-form {
    margin: 0 auto;
    max-width: 500px;
  }

  .ant-select-selection-selected-value .ant-avatar {
    display: none;
  }

  .top-section {
    border: 1px solid $text_light_gray;
    border-radius: 5px 50px 5px 5px;

    .col-left {
      padding: 20px;
      display: flex;
      align-items: stretch;

      .left-container {
        width: 100%;

        .pictures-container {
          width: 100%;

          img {
            margin: 0 auto;
            //width: auto;
            //max-height: 200px;
          }
        }
        .domains-container {
          text-align: center;
        }
        .divider {
          border: 1px solid gainsboro;
          margin: 10px 0;
        }
      }
    }
    .col-right {
      border-left: 1px solid $text_light_gray;
      padding: 20px 20px 20px 20px;

      .title {
        span {
          color: $primary_color;
          font-size: 24px;
        }
        .badge {
          padding-left: 20px;
        }
      }
      .leader {
        position: absolute;
        top: 20px;
        right: 20px;
        display: inline-block;
        text-align: right;
      }
      .content {
        display: block;
        padding: 5px 0 5px 10px;

        .reward {
          text-align: right;
          font-weight: bold;
          font-size: 24px;
        }
        .entry {
          margin: 10px 0;
        }
      }
      .divider {
        border: 1px solid gainsboro;
      }
      .description-title {
        font-weight: bold;
        margin: 5px 0;
      }
      .description-content {
        margin: 5px 0;
      }
    }
  }
  .actions {
    margin: 20px 0;
    text-align: center;

    .callToActionText {
      margin-right: $gap_2;
      font-size: 18px;
    }
  }
  .contributors {
    .title {
      font-weight: bold;
      font-size: 24px;
    }
    .no-borders {
      margin: 0 auto;
    }
  }
  .applications {
    .title {
      font-weight: bold;
      font-size: 24px;
    }
  }
}
