
@import "../../../../style/variable";

.p_EVENTS {

  background: #ffffff;
  text-align: left;

  > .ebp-page {
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;

    .ebp-events-time {
      padding: 20px;
      font-size: 2rem;
      width: 80%;
      margin: 0 auto;

      .ebp-events-month:hover {
        border-top: 2px solid green;
        cursor: pointer;
      }

      .ebp-events-active-month {
        border-top: 2px solid green;
        font-size: 3rem;
      }
    }

    .ebp-events-location {
      padding-bottom: 20px;
      font-size: 2rem;

      .ebp-events-country-select {
        width: 250px;
      }
    }

    .d_row {
      padding: 30px;

      .ant-card {
        display: inline-block;
        width: 300px;
        margin: 20px;
        box-shadow: rgba(128, 128, 128, 0.4) 0 5px 15px;

        .ant-card-body {
          padding: 10px;

          .events-card-detail {
            text-align: center;

            .events-card-time {
              font-size: 1rem;
            }

            .events-card-title {
              font-weight: bold;
              font-size: 16px;
              color: black;
              margin-top: 10px;
              text-decoration: underline;
              cursor: pointer;
            }
            .events-card-location {
              font-size: 12px;
            }
          }
        }

        .events-card-button-container {
          padding: 10px;
          margin-bottom: 10px;

          > button {
            display: inline-block;
            width: 40%;
          }

          .events-card-button-going {
            font-style: italic;
            font-weight: bold;
          }

          .events-card-button-register:hover {
            color: black;
          }
        }

        .events-card-hashtags {
          border-top: 1px solid rgba(255, 192, 100, 0.3);
          padding: 10px 10px 0px 10px;
          text-align: center;
          vertical-align: middle;
        }
      }
      .ant-card:hover {
        box-shadow: rgba(128, 128, 128, 0.6) 0 5px 15px;
      }
    }
  }
}