
@import "../../../../style/variable";

.p_EVENTS {

  background: #ffffff;
  text-align: left;

  > .ebp-page {
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;

    .ebp-events-time {
      padding: 20px;
      font-size: 2rem;
      margin: 0 auto;
      text-align: center;

      .ebp-events-month {
        padding: 10px;
      }

      .ebp-events-month:hover {
        border-top: 2px solid green;
        cursor: pointer;
      }

      .ebp-events-active-month {
        border-top: 2px solid green;
        font-size: 3rem;
      }
    }

    .ebp-events-location {
      padding-bottom: 20px;
      font-size: 2rem;

      .ebp-events-country-select {
        width: 250px;
      }
      .country-select {
        width: 250px;
      }
    }

    .ebp-events-favorites {
    }

    .d_row {
      padding: 30px;

      .events-spinner {
        text-align: center;
        margin: 0 auto;
      }

      .no-events {
        display: block;
        text-align: center;
        font-size: 1rem;
      }

      .ant-card {
        display: inline-block;
        width: 300px;
        margin: 20px;
        box-shadow: rgba(128, 128, 128, 0.4) 0 5px 15px;

        .card-icon {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1000;
          width: 100%;
          height: 50%;

          .star {
            vertical-align: middle;
            position: absolute;
            display: none;
            left: 25%;
            top: 25%;

            .star-poly {
              fill-rule:nonzero;
              stroke: #ffd055;
              fill: transparent;
            }

            .star-poly-active {
              fill-rule:nonzero;
              stroke: #ffd055;
              fill: #ffd055;
            }
          }
        }

        .card-icon:hover {
          background-color: rgba(0,0,0,0.5);

          .star {
            display: block;
          }
        }

        .event-card-image {
          height: 250px;
        }

        .ant-card-body {
          padding: 10px;

          .events-card-detail {
            text-align: center;

            .events-card-time {
              font-size: 1rem;
            }

            .events-card-title {
              font-weight: bold;
              font-size: 16px;
              color: black;
              margin-top: 10px;
              text-decoration: underline;
              cursor: pointer;
            }
            .events-card-location {
              font-size: 12px;
            }
          }
        }

        .events-card-button-container {
          padding: 10px;
          margin-bottom: 10px;

          > button {
            display: inline-block;
            width: 40%;
          }

          .events-card-button-register, .events-card-button-unregister {
            width: 100%;
            font-size: 16px;
          }

          .events-card-button-register {
            background-color: forestgreen;
            color: white;
          }

          .events-card-button-register:hover {
            border-color: rgba(34, 139, 34, 0.9);
            background-color: rgba(34, 139, 34, 0.9);
          }

          .events-card-button-unregister {
            border: 1px solid forestgreen;
          }

          .events-card-button-unregister:hover {
            background-color: indianred;
            border-color: indianred;
            color: white;

            span {
              display: none;
            }
          }

          .events-card-button-unregister:hover:after {
            content: "Cancel?";
            font-style: italic;
          }
        }

        .events-card-details-button {
          margin-bottom: 15px;
        }

        .events-card-hashtags {
          border-top: 1px solid lightgray;
          padding: 10px 10px 0 10px;
          text-align: center;
          vertical-align: middle;
        }
      }
      .ant-card:hover {
        box-shadow: rgba(128, 128, 128, 0.6) 0 5px 15px;
      }
    }
  }
}