
@import "../../../style/variable";

.d_rowFooter {

  max-width: $main_width;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: $gap_2;

  .d_footerSection {
    text-align: left;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.d_rowGrey {
  background-color: rgb(229, 229, 229);
}
