
@import "../../../style/variable";
@import "../../../style/color";

.d_rowFooter {
  padding-bottom: $gap_2;
}

.d_rowGrey {
  background-color: rgb(229, 229, 229);
}

.c_Footer {
  height: 400px;
  background: $bg_dark;
  position: relative;
  padding: 0 $gap_4;
  margin-top: $gap_3;

  .footer-box {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-vertical-section {
    line-height: 40px;
    .title {
      font-weight: 600;
      margin-bottom: $gap_0;
    }

    .ant-avatar {
      background-color: transparent;
    }
  }
}
