
@import "../../../../style/variable";
@import "../../../../style/color";

.p_DeveloperSearch {
  background: white;

  .ant-list-item {
    border: 1px solid $border_gray;
    padding: 16px;
    border-radius: 8px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .ant-list-item-content {
    max-height: 188px;
    overflow: hidden;
  }

  .carousel-wrapper {
    width: 204px;
    height: 204px;
  }

  .ant-list-item-extra-wrap {
    flex-flow: row-reverse;
  }

  .ant-list-item-extra {
    margin-left: 0;
    margin-right: 58px;
  }

  .ebp-wrap {
    .d_row {
      .admin-left-column.wrap-box-user {
        .group {
          margin: 20px 0;
          .title {
            font-weight: bold;
            margin: 5px;
          }
          .content {
            padding-left: 15px;

            .radio {
              display: block;
            }

            .checkbox {
              display: block;
            }

            .showMore {
              padding-left: 25px;
              font-style: italic;
              cursor: pointer;
              color: black;
            }
          }
        }
      }
    }
  }
}