
.c_registerContainer {

  text-align: left;
  padding: 20px 50px 80px;

  .d_item {
    .ant-form-item-children {
      display: flex;
      justify-content: space-between;
    }
  }

  .d_btn {
    width: 100%;
  }
}
