
@import "../../../style/variable";
@import "../../../style/color";

.p_Developer {

  background: #ffffff;
  text-align: left;

  .d_box {
    padding: 0 $gap_3;

    .pull-right {
      text-align: right;
    }

    .btnContainer {
      padding-top: $gap_1;

      .ant-cascader-picker-label {
        text-align: left;
      }

      .addTask {
        vertical-align: middle;
        padding: 0 20px;
        margin-right: $gap_0;
        font-size: 150%;
        cursor: pointer;
        color: $text_dark_gray;

        &:hover {
          color: $text_light_gray;
        }
      }
    }
  }

  .d_leftContainer {
    border-right: 1px solid #e0e0e0;
  }

  table {
    > thead.ant-table-thead > tr > th {
      word-break: normal;
      white-space: nowrap;
    }

    td {
      word-break: normal;

      &.col-name {
        white-space: normal;
      }
    }
  }

  .c_issueForm {
    .ant-row.ant-form-item {
      margin-bottom: 15px;
    }
  }
}

