
@import "../../../style/variable";

.p_Developer {

  background: #ffffff;
  text-align: left;

  .d_box {
    padding: 0 $gap_3;

    .btnContainer {
      padding-top: $gap_1;
      text-align: right;

      .ant-cascader-picker-label {
        text-align: left;
      }
    }
  }

  .d_leftContainer {
    border-right: 1px solid #e0e0e0;
  }

  table {

    > thead.ant-table-thead > tr > th {
      word-break: normal;
      white-space: nowrap;
    }

    td {
      word-break: normal;
      white-space: nowrap;

      &.col-name {
        white-space: normal;
      }
    }
  }

  .c_issueForm {
    .ant-row.ant-form-item {
      margin-bottom: 15px;
    }
  }
}

