
@import "../../../style/variable";
@import "../../../style/color";

.c_userEditFormContainer {

  .create-btn{
      color: #48ae92;
      margin-right: $gap_1;
      border-color: #48ae92;
  }
  
}
