
@import "../../../style/variable";

.p_Social {

  background: #ffffff;
  text-align: left;

  .d_box {
    padding: 0 $gap_3;

    .btnContainer {
      padding-top: $gap_2;
      text-align: right;
    }
  }

  .d_leftContainer {
    border-right: 1px solid #e0e0e0;
  }

  .d_devEventsContainer {
    margin-left: -1 * $gap_2;

    .i_event {

      padding: 0 $gap_2;

      img {
        max-height: 200px;
        width: 100%;
      }
    }

    p {
      padding-top: $gap_1;
    }
  }

}

