
@import "../../../style/variable";

.p_Social {

  background: #ffffff;
  text-align: left;

  .d_box {
    padding: 0 $gap_3;

    .btnContainer {
      padding-top: $gap_1;
      text-align: right;
    }
  }

  .d_leftContainer {
    border-right: 1px solid #e0e0e0;
  }

  .d_socialEventsContainer {
    margin-left: -1 * $gap_2;

    .i_event {

      padding: 0 $gap_2;

      h4 {
        padding-bottom: $gap_1;
      }

      .event-date {
        padding: 0 0 $gap_1 0;
      }

      img {
        max-height: 200px;
        width: 100%;
      }
    }

    p {
      padding-top: $gap_1;
    }
  }

  table {

    > thead.ant-table-thead > tr > th {
      word-break: normal;
      white-space: nowrap;
    }

    td {
      word-break: normal;
      white-space: nowrap;
    }
  }

  .d_communities {
    text-align: left;

    min-height: 40vh;

    padding-bottom: $gap_3;
  }
}

