.c_loginForm{
  text-align: left;
  .d_item{
    .ant-form-item-children{
      display: flex;
      justify-content: space-between;
    }
  }

  .d_btn{
    width: 100%;
    background: #66bda3;
    color: #fff;
  }
}