
.p_admin_breadcrumb {
  padding: 10px 0px;
  text-align: left;
  height: 52px;

  .ant-breadcrumb-link {
    line-height: 32px;
  }
}

.p_admin_content {
}

.admin-left-column, .admin-right-column {
  padding: 0 20px;
  text-align: left;
}

.admin-left-column {
  background: #FFF;
}

.admin-right-column {
  padding-right: 0;
  border-left: 1px solid #ccc;
  min-height: 144px;
}

.wrap-box-navigator {

}

.without-padding {
  padding: 0 0;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}