
@import "../../../../style/variable";

$xs-width: 576px;
$sm-width: 768px;
$md-width: 992px;

.p_EVENTS {

  background: #ffffff;
  text-align: left;

  > .ebp-page {
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;

    .ebp-events-location {
    }

    .d_row_upper {
      margin: 25px;
      .d_col_left {

        .event-name {
          display: block;
          font-weight: bold;
        }

        .event-hosted-by {
          display: block;
        }

        .event-detail-container {
          i {
            vertical-align: middle;
            margin: 10px 15px 10px 0;
            font-size: 24px;
          }
          .icon-location {
            color: indianred;
          }
          .icon-time {
            color: cornflowerblue;
          }
          .icon-type {
            color: mediumseagreen;
          }
          .icon-info {
            color: orange;
          }
        }

        .hosted-by-avatar {
          width: 100px;
          height: auto;
          border-radius: 50%;
        }

        .hosted-by-avatar-container {
          text-align: center;
        }

        .event-details-divider {
          width: 90%;
          margin: 20px auto;
          background-color: gainsboro;
        }

        .event-detail-description {
          padding: 20px;

          .event-detail-description-title {
            font-weight: bold;
          }
        }
      }
      .d_col_right {

        span, .actionButton {
          display: block;
          width: 70%;
          margin: 5px auto;
        }

        img {
          display: block;
          margin: 5px auto;
          width: 70%;
          max-height: 100%;
        }

        @media only screen and (max-width: $md-width) {
          img, .actionButton {
            width: 100%;
          }
        }

        .actionButton {
          line-height: 0;
        }

        .actionDeregister {
          background-color: indianred;
          color: white;
        }

        .actionRegister {
          background-color: mediumseagreen;
          color: white;
        }

        .share-with-friends {
          margin-top: 25px;
          font-weight: bold;
          text-align: center;
        }

        .social-share-actions {
          width: 50%;
          margin: 0 auto;
          text-align: center;

          .share-button {
            display: inline-block;
            padding: 0 5px;
          }
        }
      }
    }

    .d_row_mid {
      margin: 25px;
      .map {
        display: block;
        width: 100%;
        height: 400px;
      }
    }

    .d_row_lower {
      margin: 25px;
      text-align: center;

      span {
        display: block;
        width: 100%;
      }

      .title {
        font-size: 2rem;
        font-weight: bold;
      }

      .title-2 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      i {
        padding: 20px;
      }
    }
  }
}