
@import "../../../../style/variable";
@import "../../../../style/color";
@import "../../../../style/typography";

.p_crVideo {
  width: 100%;
  position: relative;

  .header {
    position: relative;
    margin-top:  $gap_4;

    .header-container {
      width: 80%;
      margin: 0 auto;
    }

    .title {
      width: 50%;
      position: relative;
      margin-bottom: $gap_4;
      padding-top: $gap_4;
      z-index: 2;
      text-align: left;
      font-size: 80px;
      line-height: 80px;
      color: #031E28;

      @media only screen and (max-width: $mobile-width) {
        width: 100%;
        margin-left: 0;
        margin-bottom: $gap_2;
        padding-top: $gap_2;
        font-size: 50px;
        line-height: 60px;
      }
    }
    .videoWrapper {
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      z-index: 2;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      @media only screen and (max-width: $mobile-width) {
        width: 100%;
      }
    }
    .sub-title {
      width: 100%;
      margin-bottom: $gap_2;
      font-size: 30px;
      line-height: 40px;
      color: initial;

      @media only screen and (max-width: $mobile-width) {
        margin-left: 0;
        margin-bottom: $gap_2;
        padding-top: $gap_2;
        font-size: 40px;
        line-height: 50px;
      }
    }
    .background-visuals {
      width: calc(100% + 96px + 305px);
      height: 50%;
      position: absolute;
      top: 0;
      left: -200px;
      z-index: 0;
      background: rgba(23, 44, 59, 0.04);

      .upper-right {
        position: absolute;
        top: 0;
        right: $gap_4;
        @media only screen and (max-width: $mobile-width) {
          top: calc(100% + 20px);
          right: 0;
        }
      }
      .mid-right {
        position: absolute;
        top: calc(100% - 37px);
        right: $gap_5;
        opacity: 0.6;

        @media only screen and (max-width: $mobile-width) {
          visibility: hidden;
        }
      }
      .upper-left {
        position: absolute;
        top: $gap_3;
        left: 0;
        opacity: 0.6;

        @media only screen and (max-width: $mobile-width) {
          top: -$gap_2;
        }
      }
      .mid-left {
        position: absolute;
        top: 90%;
        left: $gap_5;
        opacity: 0.6;
        @media only screen and (max-width: $mobile-width) {
          top: 90%;
          left: 0;
        }
      }
      @media only screen and (max-width: $mobile-width) {
        width: calc(100% + 40px);
        left: -20px; // counteract padding
      }
    }
  }
  .content {
    width: 60%;
    margin: $gap_2 auto;
    text-align: left;

    .title {
      margin-bottom: $gap_2;
      font-size: 30px;
      line-height: 40px;
      color: initial;
    }
    span {
      font-weight: bold;
    }
    p {
      margin-top: $gap_1;
    }
    @media only screen and (max-width: $mobile-width) {
      margin-left: 0;
    }
  }
  .share-icons {
    position: absolute;
    top: 50%;
    left: $gap_5;

    span {
      margin-bottom: $gap_3;
      display: block;
      color: #1DE9B6;
    }
    a {
      display: block;
      @media only screen and (max-width: $mobile-width) {
        display: inline-block;
        margin: 0 $gap_2;
      }
    }
    svg {
      margin-bottom: $gap_3;
      padding-bottom: $gap_1;
      width: 50px;
      height: 50px;
      border-bottom: 1px solid black;
      color: black;
    }
    @media only screen and (max-width: $mobile-width) {
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .earn-ela-btn {
    margin: $gap_3 0;
    width: 400px;
    height: 60px;
    font-size: 25px;
    background: #1DE9B6;
    color: white;

    @media only screen and (max-width: $mobile-width) {
      width: 50%;
      font-size: 16px;
    }
  }
}