.wrap-box-user {
  h1 {
    text-align: left;
  }
}

.c_TaskTableContainer {

  table {

    > thead.ant-table-thead > tr > th {
      word-break: normal;
    }

    td {
      word-break: normal;
    }
  }
}
