
@import "../../../style/variable";
@import "../../../style/color";

.c_Header {
    .ant-menu-item.logo {
        &:hover {
            border-bottom: none;
        }
    }

    .language-dropdown {
        &:not(.mobile) {
            padding-top: 26px;
        }

        .ant-select-selection {
            border: none;
            box-shadow: none;
        }

        .ant-select-arrow {
            display: none;
        }
    }

    .ant-dropdown-link {
        &:hover svg path{
            fill: #43AF92;
        }

        svg{
            vertical-align: middle;
        }
    }
}