
@import "../../../style/variable";
@import "../../../style/color";

.c_Header {
    .ant-menu-item.logo {
        &:hover {
            border-bottom: none;
        }
    }

    .language-dropdown {
        &:not(.mobile) {
            padding-top: 26px;
        }

        .ant-select-selection {
            border: none;
            box-shadow: none;
        }

        .ant-select-arrow {
            display: none;
        }
    }
}