
@import "../../../../style/variable";
@import "../../../../style/color";

.p_ProfileTeams {
  text-align: left;
  background: white;

  .filter-group {
    margin-bottom: $gap_2;

    @media only screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }

  .ant-select {
    @media only screen and (max-width: $mobile-width) {
      width: 100%;
      margin-bottom: $gap_1;
    }
  }

  .list-item {
    margin: $gap_0 0;

    .team-status-active, .team-status-close{
      font-size: 10px;
      margin-left: $gap_0;
      padding: 5px;
      border-radius: 3px;
      vertical-align: middle;
    }
    
    .team-status-active{
      background-color: #67779d;
      color: white;
    }
    
    .team-status-close{
      background-color: #d8d8d8;
      color: #434e71;
    }
  }

  .ant-list-item {
    border: 1px solid $border_gray;
    padding: 16px;
    border-radius: 8px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .ant-list-item-content {
    max-height: 188px;

    > .description-content {
      ul, ol {
        margin-left: 16px;
      }
    }
  }

  .carousel-wrapper {
    width: 188px;
    height: 188px;
  }

  .ant-list-item-extra-wrap {
    flex-flow: row-reverse;
  }

  .ant-list-item-extra {
    margin-left: 0;
    margin-right: 58px;
  }
}

