
@import "../../../style/variable";

.c_userProfileFormContainer {
    .link {
      text-decoration: underline;
      cursor: pointer;
    }
    .header-profile {
      margin: $gap_3 0;
      display: inline-block;

      .header-icon {
          width: 12px;
          height: 12px;
          margin-bottom: $gap_2;
      }
      .header-label {
          font-size: 60px;
          line-height: 60px;
      }
  }

  .ant-upload {
    margin-left: $gap_0;
  }

  .d_taskCreateForm {
    background-color: #f7f9fd;
    padding: 0px $gap_2;
    .label {
      padding: $gap_1 0px;
      font-weight: 700;
    }
    .midLabel {
      white-space: nowrap;
      padding: 0 $gap_1;
      text-align: right;
    }

    .ant-form-item-label {
      text-align: left;
    }
  }
}
