
.ant-btn {

  height: 40px;
  line-height: 40px;
  margin-right: $gap_0;

  &:hover,
  &:focus {
    border-color: $primary_color;
    color: $primary_color;
  }

  &.ant-btn-ebp{
    font-size: 1.1rem;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    color: #ffffff;
    background: $primary_color;
    border: 1px solid $primary_dark_color;

    &.ant-btn-sm {
      line-height: 0.9rem;
      font-size: 0.9rem;
      height: 34px;
    }

    &:hover, &:focus, &:active{
      background: $primary_light_color;
      border-color: $primary_color;
    }
  }

}

#ebp-root {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    word-break: normal;
  }
}

.ant-menu-item {

  &.ant-menu-item-active {
    color: $primary_color;
  }

  &.ant-menu-item-selected {

    color: $primary_dark_color;
    font-weight: 500;

    > a {
      font-weight: 500;
      color: $primary_dark_color;

      outline-color: $primary_color;
      border-color: $primary_color;

      &::before {
        background-color: rgba(71, 170, 167, 0.1);
      }
    }

    &::after {
      border-color: $primary_color;
    }
  }
}

.ant-input-search-button.ant-btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: $text_light_gray;
  margin-right: 0;
}
