.ant-btn{

  &.ant-btn-ebp{
    font-size: 1.1rem;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    color: #ffffff;
    background: #ff7300;
    border: 1px solid #ff7300;

    &:hover, &:focus, &:active{
      background: #df7300;
      border-color: #ff7300;
    }


  }
}

.ant-menu-item {
  &.ant-menu-item-selected {

    > a {
      font-weight: 500;
      color: $primary_dark_color;

      outline-color: $primary_color;
      border-color: $primary_color;

      &::before {
        background-color: rgba(71, 170, 167, 0.1);
      }
    }

    &::after {
      border-color: $primary_color;
    }
  }
}
