
.ant-btn {

  height: 40px;
  line-height: 40px;
  margin-right: $gap_0;

  &:hover,
  &:focus,
  &.selected {
    border-color: $cr_color;
    color: $cr_color;
  }

  &.ant-btn-ebp{
    font-size: 1.1rem;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    color: #ffffff;
    background: $cr_color;
    border: 1px solid $cr_dark_color;

    &.ant-btn-sm {
      line-height: 0.9rem;
      font-size: 0.9rem;
      height: 34px;
    }

    &:hover, &:focus, &:active{
      background: $cr_light_color;
      border-color: $cr_color;
    }
  }

  &.ant-btn-sm.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
    padding-left: 40px;
  }
}

.ant-btn-group {
  .ant-btn {
    margin-right: 0;

    &.selected {
      z-index: 1; // keep the border on top
    }
  }
}

.ant-message-notice-content {
  padding: 48px 96px;
  border: 1px solid #777;
}

@media only screen and (max-width: 1200px) {
  .ant-message-notice-content {
    padding: 24px 48px;
  }
}

#ebp-root {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    word-break: normal;
  }
}



.ant-input-search-button.ant-btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: $text_light_gray;
  margin-right: 0;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: $cr_light_color;

  &:hover {
    color: $cr_color;
  }
}

.ant-tabs-ink-bar {
  background-color: $cr_light_color;;
}

.ant-menu-horizontal > .ant-menu-item.ant-menu-item-active {
  color: $cr_light_color;
  border-color: $cr_light_color;
}

.ant-menu-inline {
  border-right: 0;
}

.ant-table-pagination.ant-pagination {
  max-width: fit-content;
  margin: 16px auto;
  float: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white;
}

.ant-menu-item {
  &:after {
    display: none;
  }
}

// Global declarations
.c_Footer {
  margin-top: 72px;
}
