.flex-center{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.v-center{

}
.h-center{

}
.flex-space{
  display: flex;
  justify-content: space-between;
}

.ebp-wrap{
  max-width: $main_width;
  height: 100%;

  margin-left: auto;
  margin-right: auto;

  //outline: 1px solid red;

  padding: 0 $gap_3;
}

.ebp-admin-wrap{
  max-width: $main_width;
  height: 100%;
  margin: 0 auto;
  background: #FFF;

  //outline: 1px solid red;
}

.ebp-page {
  @extend .ebp-wrap;
  background: #ffffff;
  min-height: 40vh;
  margin-top: $gap_2;
  padding: 0 $gap_2 $gap_3;

}

// this is for the grey description row
.ebp-page-desc {
  text-align: center;

  > p {
    max-width: 700px;
    padding: $gap_2 0;
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
  }
}

.ebp-page-title {
  text-align: center;
  padding-top: $gap_3;
  padding-bottom: 0;
}

.ebp-header-divider {
  height: 2px;
  background: linear-gradient(90deg, #ffffff 3.52% ,rgba(71, 170, 167, 0.55) 47.51%, rgba(224, 224, 224, 0.55) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

//Common class
.pull-right {
  float: right;
}

.ebp-gray-box {

  border-radius: 5px;
  border: 1px solid $border_gray;

  h2 {
    text-align: center;
  }
}
