* {
  box-sizing: border-box;
  -webkit-text-size-adjust:none;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
p{
  margin:0;
}

a{
  text-decoration: none;
}

/* main layout */
html, body{
  height: 100%;
  margin:0;
  padding:0;

}
body{
  background-color: $color_bg;
  font-size: 24px;
}

#ebp-root{
  outline:1px solid red;
  background: #eeeeee;
  min-height: 100%;

  @media (min-width: 992px){
    .container{
      width: $main_width;
    }
  }
}

