* {
  box-sizing: border-box;
  -webkit-text-size-adjust:none;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
p{
  margin:0;
}

a{
  text-decoration: none;
}

/* main layout */
html, body{
  height: 100%;
  margin:0;
  padding:0;

}
body{
  font-size: 14px;
}

#ebp-root{
  background: #eeeeee;
  min-height: 100vh;

}

