.ant-layout{
  background: none;
}
.ant-layout-content{
  z-index: 1;
  text-align: center;
}

.ant-dropdown-menu {
  padding: 16px 0;

  > .ant-dropdown-menu-item {
    padding: 8px 48px 8px 32px;
    color: rgba(0, 0, 0, 1);
  }
}

.c_Header{
  background: #fff;
  height: $header_height;
  padding: 0;
  text-align: center;
  box-shadow: none;

  .c_Header_Menu.ant-menu {
    max-width: $main_width;
    background-color: #fff;

    padding-top: 0;
  }

  .c_MenuItem {
    height: $header_height;
    font-size: 16px;
    font-weight: 600;
    padding-top: 24px;
    line-height: 20px;
    color: #000000;

    &.logo {
      padding-top: 0;

      > img {
        margin-top: 8px;
        height: 60px;
      }
    }

    &.overview {
      padding-top: 0;
      padding-right: 4px;

      > .ant-dropdown-link {
        color: rgba(0, 0, 0, 1);
        height: 73px;
        padding-top: 24px;
      }
    }

    &.right-side {
      padding-top: 42px;
      float: right;

      // account dropdown
      &.account {
        padding-right: 4px;

        > .ant-dropdown-link {
          color: rgba(0, 0, 0, 1);
        }
      }

      .ant-menu-item {

      }
    }
  }

  .ant-menu {
    background: none;
    padding-top: 24px;
    border-bottom: none;
    margin: 0 auto;
  }

  .d_li{
    float: right;
    font-size: 1.2rem;
  }

  .d_avatar{
    margin-right: 12px;

    i{
      margin-right: 0;
    }
  }

  .c_MenuTopRight {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 100%;

    padding: 8px 16px;

    margin-right: 100px;

    > .ant-menu-item{
      padding: 0 16px;
      border-bottom: 0;

      &.ant-menu-item-active:hover {
        color: #000000;
        border-bottom: 0;
      }
    }
  }
}

.c_Header_Admin{
  background: #F7F8FC;
  height: 90px;
  padding: 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  .ant-menu{
    background: none;
    padding-top: 24px;
    border-bottom: none;
    margin: 0 auto;
  }

  .d_li{
    float: right;
    font-size: 1.2rem;
  }
}

.l_banner {
  background: $primary_color;
  border-radius: 4px;
  padding: 8px $gap_1;
  font-weight: 200;

  > :first-child {
    color: #ffffff;
    padding: 0;
    padding-top: 8px;

    font-size: 120%;
  }

  .status {
    font-weight: 500;
  }
}

@media only screen and (max-width: 1700px) {
  .c_Header .c_MenuTopRight {
    margin-right: 0;
  }
}
