@media only screen and (max-width: 720px) {

  h2 {
    font-size: 20px;
  }

  .c_Header {

    .c_Header_Menu {

      .c_MenuItem {
        
        &.link {
          display: inline-block;
          padding: 0 3px;
          top: 25px;
          height: 15px;
          font-size: 15px;
        }

        &.account {
          display: inline-block;
          height: 20px;
        }
      }
    }

    .c_MenuTopRight {
      display: inline-block;
      font-size: 12px;
    }
  }

  .c_Home {
    .d_colEvents {
      border-left: none;
    }
  }

  .d_topBackdrop_title {
    font-size: 22px;
  }

  .ebp-page {
    .d_leftContainer {
      border-right: none;
    }
  }

}
