@import './color';

.no-info {
  color: $text_light_gray;
}

.help-text {
  font-size: 100%;
}

.strong-text {
  font-weight: 500;
}

.highlight-text {
  color: $primary_color;
}

.komu-a {
  font-family: "komu-a", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
