.flex_center{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.m0{
  margin:0;
  padding:0;
}


.font_0{
  font: normal normal bold 43px/1.2em 'Noticia Text', sans-serif;
  color: #4d4d4d;
  line-height: normal;
  letter-spacing: normal;

  a{
    color: inherit;
  }
}
.font_1{
  font: normal normal normal 80px/1.2em 'noticia text', sans-serif;
  color: #4D4D4D;
  font-weight: 700;
}
.font_2{
  font: normal normal normal 46px/1.2em 'noticia text', sans-serif;
  color: #4D4D4D;
}
.font_3{
  font: normal normal normal 24px/1.2em 'noticia text', sans-serif;
  color: #4D4D4D;
}

.font_8{
  font: normal normal normal 21px/1.2em 'noticia text', sans-serif;
  color: #4D4D4D;
}
.font_9{
  font: normal normal normal 18px/1.2em 'noticia text', sans-serif;
  color: #4D4D4D;
}
.font_10{
  font-size: 16px;
  color: #4D4D4D;
  line-height: 22px;
  font-family: 'Source Sans Pro', sans-serif;
}


.active_enable{

  &.active{
    color: #61D0D4 !important;
  }
  &:hover{
    color: #61D0D4 !important;
    transition: color 0.4s ease 0s !important;
  }
}

@media(max-width:768px){
  .font_0{
    font-size:24px;
  }
}

/* common */
$main_width: 980px;

$gap: 15px;
$gap1: 24px;

/* color */
$color_bg: #eae5e5;
$color_active_link: #61D0D4;
$color_1: rgb(232, 53, 86);
$color_2: rgb(97, 208, 212);
$color_3: rgb(209, 201, 38);
$color_border_1: #787878;
$color_border_2: #b2b2b2;
$color_border_3: #d9d9d9;

.an{
  text-decoration: none !important;
  &:hover{
    text-decoration: none;
    color: $color_2;
  }
  &:visited{
    text-decoration: none;
  }
}
