@import '@/style/variable';
@import '@/style/color';

.c_LoginOrRegister {
    $imageWidth: 382px;
    $imageHeight: 501px;
    margin-left: -36px;
    padding-top: $gap_3;

    height: $imageHeight - 36px + $gap_3;

    .main-form {
        margin-left: $imageWidth + $gap_3;
        padding-top: $gap_5;
    }

    .c_registerContainer, .c_loginForm {
        margin-top: $gap_3;
    }
}