
@import "../../../style/variable";
@import "../../../style/color";

$mobile-padding: $gap_0 0px;
$landingPageWidth: 1152px;

.p_emp35 {
  background: #ffffff;
  text-align: left;

  %container {
    max-width: $landingPageWidth;
    margin-left: auto;
    margin-right: auto;
  }

  %team-dark {
    background-color: $bg_obsidian;
    color: #fff;

    .container {
      @extend %container;

      .inner-container {
        margin: 0 66px;
      }
    }

    .row-positions {
      margin-top: 24px;
    }
  }

  @media only screen and (max-width: $mobile-width) {
    padding: 0 24px;
  }

  .ebp-wrap {
    padding: 0;
  }

  .blue-title {
    font-family: "komu-a", sans-serif;
    font-size: 48px;
    color: $cr100_sky_blue;
    text-transform: uppercase;
  }

  .emp35-header {

    min-height: 600px;
    margin-bottom: 120px;

    .container {

      padding-top: 95px;

      position: relative;
      text-align: center;

      // this floats behind the text
      .rect-container {
        z-index: 1;

        position: absolute;
        width: 100%;

        .rect {
          position: static;
          display: block;
          margin-left: auto;
          margin-right: auto;
          border: 38px solid $bg_blue;
          width: 450px;
          height: 450px;
        }

        //
      }

      .title {
        margin-top: 106px;

        font-family: "komu-a",sans-serif;
        font-size: 75px;
      }

      .content {
        margin-top: 240px;

        font-family: "synthese",sans-serif;
        font-size: 24px;

        > .center {
          margin-left: auto;
          margin-right: auto;
          width: 645px;

          u {
            text-decoration: none;
            border-bottom: 10px solid $cr100_green;
          }
        }
      }

      .title,
      .content {
        width: 100%;
        position: absolute;
        z-index: 5;
      }
    }
  }

  .emp35-empower {

    min-height: 600px;

    background-color: $bg_blue;
    padding-top: 100px;

    .container {
      margin-left: auto;
      margin-right: auto;

      max-width: 915px;
      background-color: #fff;
    }

    .title {
      font-family: "synthese",sans-serif;
      font-size: 36px;
      padding-top: 102px;
      text-align: center;
      font-size: 36px;
    }

    .content {
      font-family: "synthese",sans-serif;
      font-weight: 200;
      font-size: 24px;
      padding: 38px 80px 74px;
      text-align: center;
    }
  }

  // this is only the gap between empower and team
  .emp35-teamHeader {

    @extend %team-dark;

    .container .inner-container {
      padding-top: 127px;
    }

    .title {
      font-family: "synthese",sans-serif;
      font-size: 48px;
    }
  }

  .emp35-teamBusiness {
    @extend %team-dark;

    .container .inner-container {
      padding-top: 72px;
    }
  }

  .emp35-teamMarketing {
    @extend %team-dark;

    .container .inner-container {
      padding-top: 50px;
    }

    padding-left: 237px;
  }

  .emp35-teamLegal {
    @extend %team-dark;

    .container .inner-container {
      padding-top: 50px;
    }
  }

  /*
  ************************************************************************
  Card
  ************************************************************************
   */
  .card-emp35-position {
    max-width: 172px;
    background-color: $bg_obsidian;
    display: inline-block;
    margin-right: 40px;

    .ant-card-cover {
      height: 172px;
      background-color: #1B2E3C;
    }

    .ant-card-meta-description {
      font-family: "komu-a",sans-serif;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      color: $cr100_green;
      text-transform: uppercase;
    }
  }

  .c_Footer {
    margin-top: 0;
  }
}

.empower-modal-view {

}

.p_Cr100 {
  background: #ffffff;
  text-align: left;

  @media only screen and (max-width: $mobile-width) {
    padding: 0 24px;
  }

  .ebp-wrap {
    padding: 0;
  }

  .c_projectList {
    display: flex;
    flex-wrap: wrap;
  }

  $projectBoxSize: 156px;
  .c_project {
    cursor: pointer;
    height: $projectBoxSize;
    width: $projectBoxSize;
    text-align: center;
    padding: ($gap_2 / 2);
  }

  .c_list_wrapper {
    background: $bg_blue;
    position: relative;
    padding-bottom: 140px;
  }

  .cr100-header {
    margin-bottom: 180px;
  }

  .project-title {
    margin-bottom: $gap_2;
  }

  .disclaimer-box {
    background: $bg_dark;
    padding: $gap_2 0;
    position: relative;
  }

  .footer_enrich {
    position: absolute;
    top: -110px;
    right: 0;
  }

  .c_list {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .cr100_logo_text {
    position: absolute;
    top: 0;
    right: 0;
  }

  .welcomeBox {
    max-width: 800px;
    margin: $gap_5 auto;
    padding: $gap_4;
    font-size: 20px;
    text-align: center;
    background: $bg_blue;
    position: relative;

    .cr100_logo {
      position: absolute;
      top: -$gap_4;
      left: -$gap_4;
    }

    .oomph_box {
      position: absolute;
      bottom: -$gap_2;
      right: -$gap_3;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: $gap_1;
    }

    .content {
      margin-bottom: $gap_1;
    }
  }
}

