@import "@/style/variable";

.p_ProfileTaskDetail {
  background: white;
  text-align: left;

  .gridCol {
    padding: 0 $gap_2;
    margin: $gap_0 0;
  }

  .ant-row > .label-col {
    padding: 0 $gap_1;
    @media only screen and (max-width: $mobile-width) {
      padding: $gap_0 $gap_0 $gap_0 0;
    }
  }

  .form-wrapper {
    padding: $gap_2 0;
  }

  .c_TaskDetail .public {
    padding: 0 $gap_2;
  }
}
