
@import "../../../../style/variable";

.p_ProfileProjectDetail {
  background: white;
  text-align: left;

  .gridCol {
    padding: 0 $gap_2;
    margin: $gap_0 0;
  }

  .ant-row > .label-col {
    padding: 0 $gap_1;
  }

  .form-wrapper {
    padding: $gap_2 0;
  }
}
