
@import '../../../style/variable';
@import '../../../style/color';

.c_Comments {

  .ant-list-item-meta-title {
    padding-top: 0;
    white-space: pre-line;
  }

  .ant-list-item-content {
    h5 {
      padding-top: 0;
    }

    .ant-list-item-meta-avatar {
      margin-right: $gap_0;
    }
  }

  .comment-content {
    margin-left: $gap_2;
  }

  .gridCol {
    padding: 0 $gap_2;
    margin: $gap_0 0;
  }

  .form-wrapper {
    padding: $gap_2 0;
  }

}
