
@import '../../../style/variable';
@import '../../../style/color';

.c_Comments {

  .ant-list-item-meta-title {
    padding-top: 0;
    white-space: pre-line;
  }

  .gridCol {
    padding: 0 $gap_2;
    margin: $gap_0 0;
  }

  .form-wrapper {
    padding: $gap_2 0;
  }

}
